Importamos las librerias

In [1]:
import pandas as pd
import numpy as np

Importamos el dataframe anterior

In [3]:
df = pd.read_excel("venta departamentos.xlsx")

In [4]:
df

,Unnamed: 0,direccion,ubicacion,$,precio,expensas,extras
0,0,"[<h2 class=""card__address"">\n Palpa...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$11.000 expe...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
1,1,"[<h2 class=""card__address"">\n Jose ...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$14.500 expe...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
2,2,"[<h2 class=""card__address"">\n Suipa...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$23.000 expe...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
3,3,"[<h2 class=""card__address"">\n Jose ...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$7.800 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
4,4,"[<h2 class=""card__address"">\n Roose...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$9.000 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
...,...,...,...,...,...,...,...
945,945,"[<h2 class=""card__address"">\n 9 de ...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$2.300 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
946,946,"[<h2 class=""card__address"">\n Av. S...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$4.600 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
947,947,"[<h2 class=""card__address"">\n Almir...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$7.800 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
948,948,"[<h2 class=""card__address"">\n Anton...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$2.500 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
949,949,"[<h2 class=""card__address"">\n Bogot...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD</span>, <spa...","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$4.500 expen...","[<ul class=""card__main-features"">\n<li>\n<i cl..."

Reestructuramos al dataframe, separando al array

In [21]:
d = df['direccion'].str.split("</h2>,", expand=True)

In [6]:
dr = d = pd.concat([d.T[x] for x in d.T], ignore_index=True)

In [7]:
u = df['ubicacion'].str.split("</p>,", expand=True)

In [8]:
ur = u = pd.concat([u.T[x] for x in u.T], ignore_index=True)

In [9]:
uss = df['$'].str.split("</span>,", expand=True)

In [10]:
ussr = uss = pd.concat([uss.T[x] for x in uss.T], ignore_index=True)

In [11]:
p = df['precio'].str.split("</p>,", expand=True)

In [12]:
pr = p = pd.concat([p.T[x] for x in p.T], ignore_index=True)

In [13]:
e = df['expensas'].str.split("</p>,", expand=True)

In [14]:
er = e = pd.concat([e.T[x] for x in e.T], ignore_index=True)

In [15]:
ex = df['extras'].str.split("</ul>,", expand=True)

In [16]:
exr = ex = pd.concat([ex.T[x] for x in ex.T], ignore_index=True)

In [17]:
nuevodf = {'Direccion':d , 'Ubicacion': u ,'Moneda': uss, 'Precio': p ,'Expensas':e , 'Extras':ex, 'Extras':ex, 'Extras':ex, 'Extras':ex}

In [18]:
nuevodf

{'Direccion': 0        [<h2 class="card__address">\n            Palpa...
 1         <h2 class="card__address">\n            Virre...
 2         <h2 class="card__address">\n            Oller...
 3         <h2 class="card__address">\n            Frank...
 4         <h2 class="card__address">\n            Av. C...
                                ...
 18995     <h2 class="card__address">\n            PASEO...
 18996     <h2 class="card__address">\n            Plaza...
 18997     <h2 class="card__address">\n            Av La...
 18998     <h2 class="card__address">\n            Monte...
 18999     <h2 class="card__address">\n            Diago...
 Length: 19000, dtype: object,
 'Ubicacion': 0        [<p class="card__title--primary">Departamento ...
 1         <p class="card__title--primary">Departamento ...
 2         <p class="card__title--primary">Departamento ...
 3         <p class="card__title--primary">Departamento ...
 4         <p class="card__title--primary">Departamento ...
                                ...
 18995     <p class="card__title--primary">Departamento ...
 18996     <p class="card__title--primary">Departamento ...
 18997     <p class="card__title--primary">Departamento ...
 18998     <p class="card__title--primary">Departamento ...
 18999     <p class="card__title--primary">Departamento ...
 Length: 19000, dtype: object,
 'Moneda': 0                [<span class="card__currency">USD
 1                 <span class="card__currency">USD
 2                 <span class="card__currency">USD
 3                 <span class="card__currency">USD
 4                 <span class="card__currency">USD
                            ...
 18995             <span class="card__currency">USD
 18996             <span class="card__currency">USD
 18997             <span class="card__currency">USD
 18998             <span class="card__currency">USD
 18999     <span class="card__currency">USD</span>]
 Length: 19000, dtype: object,
 'Precio': 0        [<p class="card__price">\n<span class="card__c...
 1         <p class="card__price">\n<span class="card__c...
 2         <p class="card__price">\n<span class="card__c...
 3         <p class="card__price">\n<span class="card__c...
 4         <p class="card__price">\n<span class="card__c...
                                ...
 18995     <p class="card__price">\n<span class="card__c...
 18996     <p class="card__price">\n<span class="card__c...
 18997     <p class="card__price">\n<span class="card__c...
 18998     <p class="card__price">\n<span class="card__c...
 18999     <p class="card__price">\n<span class="card__c...
 Length: 19000, dtype: object,
 'Expensas': 0        [<p class="card__expenses" title="$11.000 expe...
 1         <p class="card__expenses" title="$11.000 expe...
 2         <p class="card__expenses" title="$14.000 expe...
 3         <p class="card__expenses" title="$8.800 expen...
 4         <p class="card__expenses" title="$18.000 expe...
                                ...
 18995                                                 None
 18996                                                 None
 18997                                                 None
 18998                                                 None
 18999                                                 None
 Length: 19000, dtype: object,
 'Extras': 0        [<ul class="card__main-features">\n<li>\n<i cl...
 1         <ul class="card__main-features">\n<li>\n<i cl...
 2         <ul class="card__main-features">\n<li>\n<i cl...
 3         <ul class="card__main-features">\n<li>\n<i cl...
 4         <ul class="card__main-features">\n<li>\n<i cl...
                                ...
 18995     <ul class="card__main-features">\n<li>\n<i cl...
 18996     <ul class="card__main-features">\n<li>\n<i cl...
 18997     <ul class="card__main-features">\n<li>\n<i cl...
 18998     <ul class="card__main-features">\n<li>\n<i cl...
 18999     <ul class="card__main-features">\n<li>\n<i cl...
 Length: 19000, dtype: object}

In [19]:
df1 = pd.DataFrame(nuevodf)

In [20]:
df1

,Direccion,Ubicacion,Moneda,Precio,Expensas,Extras
0,"[<h2 class=""card__address"">\n Palpa...","[<p class=""card__title--primary"">Departamento ...","[<span class=""card__currency"">USD","[<p class=""card__price"">\n<span class=""card__c...","[<p class=""card__expenses"" title=""$11.000 expe...","[<ul class=""card__main-features"">\n<li>\n<i cl..."
1,"<h2 class=""card__address"">\n Virre...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...","<p class=""card__expenses"" title=""$11.000 expe...","<ul class=""card__main-features"">\n<li>\n<i cl..."
2,"<h2 class=""card__address"">\n Oller...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...","<p class=""card__expenses"" title=""$14.000 expe...","<ul class=""card__main-features"">\n<li>\n<i cl..."
3,"<h2 class=""card__address"">\n Frank...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...","<p class=""card__expenses"" title=""$8.800 expen...","<ul class=""card__main-features"">\n<li>\n<i cl..."
4,"<h2 class=""card__address"">\n Av. C...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...","<p class=""card__expenses"" title=""$18.000 expe...","<ul class=""card__main-features"">\n<li>\n<i cl..."
...,...,...,...,...,...,...
18995,"<h2 class=""card__address"">\n PASEO...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...",None,"<ul class=""card__main-features"">\n<li>\n<i cl..."
18996,"<h2 class=""card__address"">\n Plaza...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...",None,"<ul class=""card__main-features"">\n<li>\n<i cl..."
18997,"<h2 class=""card__address"">\n Av La...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...",None,"<ul class=""card__main-features"">\n<li>\n<i cl..."
18998,"<h2 class=""card__address"">\n Monte...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD","<p class=""card__price"">\n<span class=""card__c...",None,"<ul class=""card__main-features"">\n<li>\n<i cl..."
18999,"<h2 class=""card__address"">\n Diago...","<p class=""card__title--primary"">Departamento ...","<span class=""card__currency"">USD</span>]","<p class=""card__price"">\n<span class=""card__c...",None,"<ul class=""card__main-features"">\n<li>\n<i cl..."

Le quitamos las etiquetas html a los datos

In [22]:
df1['Direccion'] = df1['Direccion'].replace({'<h2 class="card__address">':'','</h2>':''}, regex=True )

In [23]:
df1['Ubicacion'] = df1['Ubicacion'].replace({'<p class="card__title--primary">':'','</p>':''}, regex=True )

In [24]:
df1['Moneda'] = df1['Moneda'].replace({'<span class="card__currency">':'','</span>':''}, regex=True )

In [25]:
df1['Precio'] = df1['Precio'].replace({'<p class="card__price">':'','<span class="card__currency">USD</span>':'','</p>':''}, regex=True )

In [26]:
df1['Expensas'] = df1['Expensas'].replace({'<p class="card__expenses" title="':'','&amp;plus;':''}, regex=True )

In [27]:
df1['Extras'] = df1['Extras'].replace({'<ul class="card__main-features">':'','<li>':'', '<i class="icono-superficie_cubierta"></i>':'M2','<i class="icono-cantidad_dormitorios"></i>':'Dormitorios','<i class="icono-antiguedad"></i>':'Antiguedad','<i class="icono-cantidad_banos"></i>':'baÃ±os'}, regex=True )

In [28]:
expensas2 = df1['Expensas'].str.split('expensas">', expand=True)

In [30]:
expensas2

               0                                                  1
0      [$11.000   \n                     $11.000 expensas\n     ...
1       $11.000   \n                     $11.000 expensas\n     ...
2       $14.000   \n                     $14.000 expensas\n     ...
3        $8.800   \n                     $8.800 expensas\n      ...
4       $18.000   \n                     $18.000 expensas\n     ...
...          ...                                                ...
18995       None                                               None
18996       None                                               None
18997       None                                               None
18998       None                                               None
18999       None                                               None

[19000 rows x 2 columns]

In [31]:
df1['Expensas'] = expensas2[0]

In [32]:
extras_aux = df1['Extras'].str.split('</span>', expand=True)

In [33]:
df1

,Direccion,Ubicacion,Moneda,Precio,Expensas,Extras
0,[\n Palpa 2500\n,"[Departamento en Venta en Belgrano C, Belgrano",[USD,[\n 145.000,[$11.000,[\n\nM2\n<span>\n ...
1,\n Virrey Olaguer y Feliu 3100\n ...,"Departamento en Venta en Belgrano R, Belgrano",USD,\n 107.000,$11.000,\n\nM2\n<span>\n ...
2,\n Olleros 1800\n,"Departamento en Venta en Belgrano, Capital Fe...",USD,\n 389.000,$14.000,\n\nM2\n<span>\n ...
3,"\n Franklin D Roosevelt 1600, Piso...","Departamento en Venta en Belgrano Barrancas, ...",USD,\n 68.000,$8.800,\n\nM2\n<span>\n ...
4,"\n Av. Cnel.diaz 1400, Piso 7\n ...","Departamento en Venta en Palermo, Capital Fed...",USD,\n 239.000,$18.000,\n\nM2\n<span>\n ...
...,...,...,...,...,...,...
18995,\n PASEO 116 E/ AV 1 Y COSTANERA\n...,"Departamento en Venta en Villa Gesell, Buenos...",USD,\n 48.000,None,\n\nDormitorios\n<span>\n ...
18996,\n Plaza San Martin\n,"Departamento en Venta en Barrio Norte, Capita...",USD,\n 300.000,None,\n\nM2\n<span>\n ...
18997,\n Av La Plata 3400\n,"Departamento en Venta en Santos Lugares, Tres...",USD,\n 120.000,None,\n\nM2\n<span>\n ...
18998,"\n Montevideo 1900, Piso 11\n","Departamento en Venta en Centro, Capital Federal",USD,\n 118.000,None,\n\nM2\n<span>\n ...
18999,\n Diagonal 26 900\n ],"Departamento en Venta en Santa Teresita, De L...",USD],\n 33.000 ],None,\n\nDormitorios\n<span>\n ...

In [34]:
extras_aux

,0,1,2,3,4,5,6
0,[\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None,None
1,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
2,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None,None
3,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
4,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
...,...,...,...,...,...,...,...
18995,\n\nDormitorios\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None,None,None
18996,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
18997,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
18998,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n,None,None
18999,\n\nDormitorios\n<span>\n ...,\n</li>\n\nbaÃ±os\n<span>\n ...,\n</li>\n</ul>],None,None,None,None

Exportamos a excel para dar los ultimos detalles

In [35]:
df1.to_excel('departamentos pais corregir extras.xlsx', index=False)

extras_aux.to_excel('extras_aux.xlsx', index=False)